main{
    margin: 0px;
}
.contenedor-producto{
    display: flex;
    margin: 30px auto;
    max-width: 1300px;
    width: auto;
    justify-content: space-around;
}
.contenedor-img-producto{
    width: 34%;
}
.caracteristicas-producto{
    display: inline-block;
    max-width: 60%;
    width: 100%;
}
.caracteristicas-producto h2{
    display: inline-block;
    align-self: center;
    margin: 10px 0px;
}
.caracteristicas-producto input{
    max-width: 13%;
    max-height: 25px;
    align-self: center;
}

#btn-agregar{
    padding: 5px;
    color: white;
    background-color: #aaa;
    border: solid 2px rgb(147, 145, 145);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;

}
.contenedor-btn-input{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}
.contenedor-productos-similares{
    display: flex;
    margin: 30px auto;
    max-width: 95%;
    width: auto;
    justify-content: space-around;
    flex-direction: column;
    background-color:   rgba(0, 0, 0, 0.7);
    padding: 20px 0px;
}
.contenedor-productos-similares h2{
   display: inline-block;
   margin: auto;
   padding: 7px 15px;
   background-color: whitesmoke;
   border-radius: 10px;
}
.productos-similares{
    width: 250px;
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px solid #aaa;
    border-radius: 10px;
    text-align: center;
}

.productos-similares:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(1%);
    transition: 0.5s;
    background-color: #b0dfed;;
}
.productos-similares h3{
    display: inline-block;
}
.productos-similares img{
    border: 1px solid black;
    border-radius: 8px;
    width: 200px;
    margin: auto;
}
.flex-productos{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 15px auto;
}
.slider-prev::before, .slick-arrow::before{
    color: #000;
    background-color: rgb(34, 217, 241);
    border-radius: 50%;
}