/*HTML CATEGORIAS */
.zona-categorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap-reverse;
    background-image: url(../img/fondo.png);
    padding: 15px;
    border: #e9e9e9e9 solid 5px;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px #ccc;
    max-width: 1300px;
    
}

.zona-categorias h2 {
    display: inline-block;
    flex-shrink: 3;
    color: rgb(96, 94, 94);
    text-align: center;
    border: solid 2px #ccc;
    background-color: #eee;
    padding: 10px 150px;
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    transition: 0.5s;
}

.zona-categorias h2:hover{
    color: black;
}

.conteiner-flexbox-categorias {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;
    flex-direction: row;
    width: 100%;
}

.categoria {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(230, 226, 226);
    margin: 10px 30px;
    border: solid 1.25px rgb(161, 161, 161);
    transition: all 400ms ease;
    border: #5c5b5b solid 2px;
    border-radius: 10px;
    transition: 0.5s;
}

.categoria a{
    display: grid;
    text-decoration: none;
    color: #2a2c2c;
    justify-items: center;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.5s;
}

.categoria a:hover{
    color: #387485;
}

.categoria:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    background-color: rgb(194, 225, 229);
    transform: scale(1.02);
}

.categoria img {
    box-sizing: border-box;
    height: 220px;
    width: 240px;
    padding: 5%;
    margin: 0%;
}


/* FORMATO AL CLICKEAR EN ALGUNA CATEGORIA (VISTA PRODUCTOS) */
.ContenedorProductos {
    display: flex;
}

.Productos {
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
    width: 1150px;
    background-image: url(../img/fondo.png);
    border-radius: 10px;
    border: 1px solid rgb(116, 114, 114);
}

.Productos h2{
    background-color: #eee;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: solid 1px rgb(192, 189, 189);
    border-radius: 6px;
    color: #5c5b5b;
    transition: 0.7s;
}

.Productos h2:hover {
    color: black;
    transition: 0.7s;
    box-shadow: 2px 2px #bbb;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.ListadoProductos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
}

.contenedor-img-producto-grid {
    background-color:whitesmoke;
    margin: 10px;
    padding-top: 8px;
    border-radius: 10px;
    max-width: 230px;
    position: relative;
}

 .precio-producto{
    background-color: white;
    border-radius: 12px 0px 4px 12px;
    border: solid 1px rgb(216, 215, 215);
    padding: 1px 5px;
    position: absolute;
    top: 52%;
    left: 50%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.precio-producto:hover{
    color: #387485;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    box-shadow: 2px 2px #bbb;
}

.titulo-producto{
    display: inline-block;
    margin: 5px 7px;
    margin-bottom: 0px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.titulo-producto:hover{
    color: #387485;
    transition: 0.7s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.cantidad-producto{
    display: inline-block;
}
.contenedor-titulo-input-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(199, 198, 198);
    transition: 0.5s;
}
.contenedor-titulo-input-carrito input{
    width: 37px;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.contenedor-titulo-input-carrito svg{
    fill: rgb(86, 81, 81);
    width: 30px;
    height: 30px;
    padding: 1px 5px;
    transition: 0.5s;
    cursor: pointer;
}

.contenedor-titulo-input-carrito svg:hover{
    fill: #387485;
    transition: 0.5s;
}

.contenedor-titulo-input-carrito:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 1px rgb(155, 153, 153);   
}
.imagen-carrito-producto {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
    box-shadow: none;
}

.imagen-carrito-producto:hover{
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
    box-shadow: none;
}