#items{
    display: none;
}

.Productos{
  width: 1000px;
  min-height: 440px;
}

.listaProductosEnCarrito{
  display: inline-block;
  height:fit-content;
  border-radius: 5px;
  background-color: aliceblue;
}

.listaProductosEnCarrito p{
  font-size: 20px;
  text-align: center;
}

#botones{
  display: flex;
  justify-content: space-between;
}

