body {

    margin: 0;
    background-image: url(img/fondo03.png);
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

header .content-cabecera {
    background-color: rgba(34, 217, 241, 0.61);
    flex-direction: column;

}

img {
    max-width: 100%;
}

#Encabezado {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    max-height: 80px;


}

.seccionNavYBuscador {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.contenedorLogo {
    display: inline-block;
    width: 8%;
    text-align: center;
}

.logo {
    display: inline-block;
    padding: 25px;
    background-color: #E09D5C;
    text-decoration: none;
}

#buscador {
    display: inline-block;
    width: 60%;
    text-align: center;
}

#areaBuscador {
    width: 100%;
}

#Carrito {
    display: inline-block;
    text-align: center;
    box-shadow: 0.5px 0.5px;
}

input {
    padding: 5px 8px;
}

.imagencarrito {
    height: 50px;
}

#iframe {
    margin: 50px 0 30px;
    border: 0px solid #009266;
    max-width: 750px;
    max-height: 285px;
}

.navBar {
    background-color: #5CC4E0;
    display: flex;
    justify-content: space-between;

}

.SelNav {
    font-weight: 550;
    padding: 15px;
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    width: 50%;
    text-align: center;
    border: #387485 solid 2px;
    color: black;
}

nav a:hover {
    color: black;
    background-color: #2f859c;
}

/* MAIN  Banner*/

.contenedor-banner {
    display: flex;
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
}

.slide {
    display: flex;
    transition: all 600ms;
}

.item-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    max-width: 100%;
}

.pagina {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(34, 217, 241);
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0px 10px;
    text-align: center;
    transition: all 300ms;
}

.item-pagina:hover {
    transform: scale(1.5);
}

.item-pagina img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all;
}

input[id="1"]:checked~.slide {
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagina .item-pagina[for="1"] {
    background-color: white;
}

input[id="2"]:checked~.slide {
    transform: translate3d(calc(-100% *1), 0, 0);
}

input[id="2"]:checked~.pagina .item-pagina[for="2"] {
    background-color: white;
}

input[id="3"]:checked~.slide {
    transform: translate3d(calc(-100% *2), 0, 0);
}

input[id="3"]:checked~.pagina .item-pagina[for="3"] {
    background-color: white;
}

/*Formato a las imagenes Categoria y Prod para que todas sean iguales*/

.imagenProducto {
    max-width: 142px;
    max-height: 142px;
    display: inline-block;
    box-shadow: 2px 2px #eee;
    border: 1px solid #eef;
    border-radius: 10px;
    transition: all 400ms ease;
}

.imagenProducto:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);
}


/*Formato a Categorias y productos*/
.Categorias a {
    text-decoration: none;
    color: black;
    text-align: center;
    text-shadow: #387485;
    font-size: large;
}

/* Formato a todo el cajon de Categorias*/
.Categorias,
.Pago {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/fondo.png);
    padding: 0px 15px 15px;
    border: #e9e9e9e9 solid 2px;

    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px #ccc;
    max-width: 1400px;
}

.Producto {
    display: inline-block;
    background-image: url(img/fondo.png);
    margin: 30px;
    width: 500px;
    border: solid 3px #ccc;
    border-radius: 4px;
}

.Producto a {
    display: inline-block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-del-producto {
    text-align: center;
}

.Producto h3 {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.Producto h3:hover {
    color: whitesmoke;
}

.containerProductos {
    display: flex;
    justify-content: space-between;
}

.section-productos-destacados {
    text-align: center;
    margin-top: 30px;
}

.section-productos-destacados h2 {
    display: inline-block;
    border: 2px solid #ccc;
    margin: auto;
    border-radius: 3px;
    padding: 5px 100px;
}

/* Formato titulo Categorias*/
.Categorias h2,
.Producto h2,
.Pago h2 {
    display: inline-block;
    box-shadow: 2px 1px #ccc;
    flex-shrink: 3;
    color: rgb(96, 94, 94);
    text-align: center;
    border-bottom: #009266;
    border: solid 2px #ccc;
    background-color: #eee;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

.Categorias h2:hover,
.Productos h2:hover,
.Pago h2:hover {
    background-color: #ddd;
}

/* Formato que las imagenes esten una al lado de la otra*/
.ListadoCategorias,
.ListadoProductos,
.ListadoPago {
    align-items: center;
    flex-wrap: wrap;
}
.ListadoPago ul{
    display: flex;
}

/* formato a cada imagen Categoria*/
.ListadoCategorias img,
.ListadoProductos img,
.Pago img {
    margin: 10px;
    background-color: #e9e9e9e9;
    box-shadow: 1px 1px 1px 1px #ccc;
}

/* para poner las letras arriba de cada imagen*/
.ListadoCategorias a,
.ListadoProductos a {

    margin: 10px;
    margin-left: 10px;
}

.ImagenCategorias {
    flex-shrink: 1;
    max-width: 195px;
    max-height: 180px;
    display: inline-block;
    box-shadow: 0.5px 0.5px #ddf;
    border: 1px solid rgb(185, 180, 180);
    border-radius: 10px;
    justify-content: center;
}

.ImagenCategorias img,
.ContenedorProductos img {
    margin: 0px;
    width: 195px;
    height: 180px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.ImagenCategorias img:hover,
.ContenedorProductos img:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);
}

.ContenedorCat,
.ContenedorProductos {
    display: flex;
    justify-content: center;


}

.PieDePagina {
    background-color: grey;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 2fr);
    min-height: 200px;
    align-items: center;
}

.logo-footer {
    max-width: 40px;
    border-radius: 50%;
    justify-content: center;

}

.PieDePagina a {
    text-decoration: none;
    color: black;

}

.PieDePagina h3 {
    display: inline;
}

.PieDePagina span {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.content-Banner,
.ContenedorCat,
.ContenedorProductos,
.ContenedorPago {
    margin: auto;
    margin-top: 30px;
    max-width: 1400px;

}

.Categorias h3,
.Productos h3 {
    display: inline-block;
    color: #313030;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.Categorias h3:hover,
.Productos h3:hover {
    background-color: #194550b8;
    color: whitesmoke;
    border-radius: 5%;
    padding: 0px 8px;


}


/*CONTACTO*/

.container-contacto{
    display: flex;
    margin: auto;
    width: 70%;
    flex-wrap: wrap;
}

.contacto {
    display: flex;
    
}


.contacto_form {
    display: inline-block;
    flex-direction: column;
    margin: 40px;
    background-color: whitesmoke;
    padding: 70px;
    border-radius: 10px;
    border: #313030 solid 1px;
}

.contacto_form h2 {
    font-size: 35px;
    color: rgb(96, 94, 94);
}
.contacto_form label{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}


.contacto_input{
    display: inline-block;
    margin: 5px;
    width: 80%;
}


.comment {
    width: 75%;
    max-height: 110px;
    margin: 5px;
}

.contacto_datos {
    display: inline-block;
    margin: 40px;
    background-color: whitesmoke;
    padding: 70px;
    border-radius: 10px;
    border: #313030 solid 1px;
}


.contacto_datos h2 {
    font-size: 35px;
    color: rgb(96, 94, 94);
}

.contacto_datos span {
    font-size: 18px;
}

#submit {
    margin: 10px;
}

.contacto_mapa {
    align-items: center;
}

#mapa {
    width: 780px;
    height: 280px;
}

/*Seccion categorias.html*/
.zona-categorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.zona-categorias h2 {
    display: inline-block;
}

.conteiner-flexbox-categorias {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1400px;
    margin: auto;
}

.categoria {
    display: inline-block;
    margin: 20px 60px;
    border: solid 1.25px rgb(161, 161, 161);
    transition: all 400ms ease;
}

.categoria:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);

}

.categoria img {
    height: 250px;
    width: 300px;
}
/* Mi cuenta */


.container_foto_nombre{
    display: flex;
    max-width: 80%;
    justify-content: space-around;
    margin:auto;
    margin-top: 50px;
    
}
.container_img_perfil{
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0px 20px;
}
.container_nombre{
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
}
.container_nombre p{
    display: inline-block;
    font-size: 50px;
    margin: 0px;
}

.container_direcciones{
    display: flex;
    max-width: 75%;
    flex-direction: column;
    margin-top: 50px;
    margin:auto;
    
}
.top_container_direcciones{
    display: flex;
   
}
.top_container_direcciones h2{
    display: inline-block;
    width: 100%;    

}
.top_container_direcciones div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}
.top_container_direcciones button{
    padding: 3px 8px;
}
.tabla_direcciones-grid{
    display: grid;
    grid-template-columns: auto auto;
    border: 5px solid #ccc;
}
.tabla_direcciones-grid div{
    text-align: center;
    border: solid 2px #c5c5c5;
}
.tabla_direcciones-grid h3{
    background-color: #ccc;
    margin: 0;
    padding: 15px;
}
.tabla_direcciones-grid p{
    background-color: #ddd;
    margin: 0px;
    padding: 15px;
}
.img_basura {
    display: inline-block;
    width: 50px;
    height: 50px;
}
.container_metodos_de_pago{
    display: flex;
    max-width: 75%;
    flex-direction: column;
    margin-top: 50px;
    margin:auto;
    margin-bottom: 115px;
}
.top_container_metodos{
    display: flex;
}
.top_container_metodos h2{
    display: inline-block;
    width: 100%;    

}
.top_container_metodos div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}
.top_container_metodos button{
    padding: 3px 8px;
}
.tabla_metodos_de_pago{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
    grid-template-columns: 500px;
    border: 5px solid #ccc;
}
.tabla_metodos_de_pago h3{
    background-color: #ccc;
    margin: 0px;
    
    padding: 15px;
    text-align: center;
}
.tabla_metodos_de_pago p{
    background-color: #ddd;
    margin: 0px;
    padding: 15px;
    text-align: center;
    border: 2px solid #ccc;
}
